    <section class="this-week-template">
        <table class="this-week">
            <tr id="row-1">
                <th></th>
                <th colspan="2" id="msq-title">MSQ</th>
                <th colspan="2" id="twoU-title">2U</th>
                <th></th> 
            </tr>
            <tr>
                <th></th>
                <th id="msq-hours-title">Hours</th>
                <th id="msq-total-title">Total</th>
                <th id="twoU-hours-title">Hours</th>
                <th id="twoU-total-title">Total</th>
                <th id="subtotal-title">Subtotal</th>
            </tr>
            <tr>
                <th id="monday" class="col-1">Monday, <span></span></th>
                <td id="msq-mon-hours" class="table-inputs job-1"><input id="mh1" value="0" /></td>
                <td id="msq-mon-total" class="table-inputs job-1"><input id="mt1" value="0" /></td>
                <td id="twoU-mon-hours" class="table-inputs job-2"><input id="mh2" value="0" /></td>
                <td id="twoU-mon-total" class="table-inputs job-2"><input id="mt2" value="0" /></td>
                <td id="mon-subtotal" class="table-inputs job-3"><input id="mst" value="0" /></td>
            </tr>
            <tr>
                <th id="tuesday" class="col-1">Tuesday, <span></span></th>
                <td id="msq-tue-hours"  class="table-inputs job-1"><input id="th1" value="0" /></td>
                <td id="msq-tue-total"  class="table-inputs job-1"><input id="tt1" value="0" /></td>
                <td id="twoU-tue-hours"  class="table-inputs job-2"><input id="th2" value="0" /></td>
                <td id="twoU-tue-total"  class="table-inputs job-2"><input id="tt2" value="0" /></td>
                <td id="tue-subtotal"  class="table-inputs job-3"><input id="tst" value="0" /></td>
            </tr>
            <tr>
                <th id="wednesday" class="col-1">Wednesday, <span></span></th>
                <td id="msq-wed-hours"  class="table-inputs job-1"><input id="wh1" value="0" /></td>
                <td id="msq-wed-total"  class="table-inputs job-1"><input id="wt1" value="0" /></td>
                <td id="twoU-wed-hours"  class="table-inputs job-2"><input id="wh2" value="0" /></td>
                <td id="twoU-wed-total"  class="table-inputs job-2"><input id="wt2" value="0" /></td>
                <td id="wed-subtotal"  class="table-inputs job-3"><input id="wst" value="0" /></td>
            </tr>
            <tr>
                <th id="thursday" class="col-1">Thursday, <span></span></th>
                <td id="msq-thu-hours"  class="table-inputs job-1"><input id="thh1" value="0" /></td>
                <td id="msq-thu-total"  class="table-inputs job-1"><input id="tht1" value="0" /></td>
                <td id="twoU-thu-hours"  class="table-inputs job-2"><input id="thh2" value="0" /></td>
                <td id="twoU-thu-total"  class="table-inputs job-2"><input id="tht2" value="0" /></td>
                <td id="thu-subtotal"  class="table-inputs job-3"><input id="thst" value="0" /></td>
            </tr>
            <tr>
                <th id="friday" class="col-1">Friday, <span></span></th>
                <td id="msq-fri-hours"  class="table-inputs job-1"><input id="fh1" value="0" /></td>
                <td id="msq-fri-total"  class="table-inputs job-1"><input id="ft1" value="0" /></td>
                <td id="twoU-fri-hours"  class="table-inputs job-2"><input id="fh2" value="0" /></td>
                <td id="twoU-fri-total"  class="table-inputs job-2"><input id="ft2" value="0" /></td>
                <td id="fri-subtotal"  class="table-inputs job-3"><input id="fst" value="0" /></td>
            </tr>
            <tr>
                <th></th>
                <td id="msq-hours-sum" class="lastRow lastRow-job-1"><input id="add-h-1" value="0" /></td>
                <td id="msq-total-sum" class="lastRow lastRow-job-1"><input id="add-t-1" value="0" /></td>
                <td id="twoU-hours-sum" class="lastRow lastRow-job-2"><input id="add-h-2" value="0" /></td>
                <td id="twoU-total-sum" class="lastRow lastRow-job-2"><input id="add-t-2" value="0" /></td>
                <td id="subtotal-total" class="lastRow lastRow-job-3"><input id="add-st" value="0" /></td>
            </tr>
        </table>

        <div class="status">
            <table id="income-status">
                <tr>
                    <th id="income-status-title">Income</th>
                    <th id="income-status-total">$0</th>
                </tr>
            </table>
            <table id="hours-status">
                <tr>
                    <th id="hours-status-title">Hours</th>
                    <th id="hours-status-total">0</th>
                </tr>
            </table>
        </div>
    </section>